body{
    font-size:100%;
}

li{
float:left;
list-style:none;
}
 
.header{
    background-color: beige;
    height:90px;
}

.header-logo{
    float:left;
    font-size:50px;
    color:sienna;
    margin-left:200px;
    padding-top:15px;
    font-weight: 25px;
}

.header-list li{
    float:right;
    padding:33px 20px;
    margin-right:50px;
    font-size: 30px;
}

.main{
    padding:100px 80px;
    background-color:bisque;
}

.contents{
    background-color:bisque;
    text-align: center;
}

.contents li{
    text-align: center;
}

.footer{
    background-color: rgb(10, 32, 226);
    color:#eee;
    height:120px;
    padding:40px;
}

.footer-logo{
    float:left;
    font-size:40px;
}

.footer-list{
    float:right;
}

.footer-list li{
    padding-bottom:20px;
    letter-spacing: 15px;
}

